<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% extends "online_notes/base.html" %}

    {% block content %}

    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p}}

        <button name="submit" class="btn btn-primary">Зареєструватися</button>
        <input type="hidden" name="next" value="{% url 'online_notes:index' %}" />
    </form>
    {% endblock content %}
</body>

</html>